/* .dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
} */


.edit-video-btn {
    position: absolute;
    z-index: 20;
    top: 305px;
    left: 2px;
}

.edit-video-icon {
    color: #FFFFFF;
    opacity: 0.8;
}

.edit-video-icon:hover{
    opacity: 1;
}