h4 {
    font-family: 'brown_fox';
}

h6 {
    font-family: 'basier_square_monoregular';
}

h2 {
    font-family: 'saonara';
    letter-spacing: 7.5px;
}

h5 {
    font-family: 'maragsa';
    letter-spacing: 1.5px;
}