.film-grain {
    height: 100vh;
    background-image: url("broken_noise_@2X.png");
    background: rgb(0, 0, 0);
    background: linear-gradient(25deg, rgb(0, 0, 0) 0%, rgb(14, 14, 14) 80%, rgb(16, 16, 16) 100%);
  }
  
  .film-grain:before {
    -webkit-animation: grain 8s steps(10) infinite;
            animation: grain 8s steps(10) infinite;
    background-image: url("broken_noise_@2X.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
  }

  #content {
    display: contents;
    position:relative;
    z-index: 1;
    margin: auto;
}

#content::after {
  background-image: url("paper_1_@2X.png");
}

  /* .slider {
    box-shadow: -2px 2px 22px #101010, 2px -2px 22px #121212;
  } */
  
  @-webkit-keyframes grain {
    0%, 100% { -webkit-transform:translate(0, 0); transform:translate(0, 0) }
    10% { -webkit-transform:translate(-5%, -10%); transform:translate(-5%, -10%) }
    20% { -webkit-transform:translate(-15%, 5%); transform:translate(-15%, 5%) }
    30% { -webkit-transform:translate(7%, -25%); transform:translate(7%, -25%) }
    40% { -webkit-transform:translate(-5%, 25%); transform:translate(-5%, 25%) }
    50% { -webkit-transform:translate(-15%, 10%); transform:translate(-15%, 10%) }
    60% { -webkit-transform:translate(15%, 0%); transform:translate(15%, 0%) }
    70% { -webkit-transform:translate(0%, 15%); transform:translate(0%, 15%) }
    80% { -webkit-transform:translate(3%, 20%); transform:translate(3%, 20%) }
    90% { -webkit-transform:translate(-10%, 10%); transform:translate(-10%, 10%) }
  }
  
  @keyframes grain {
    0%, 100% { -webkit-transform:translate(0, 0); transform:translate(0, 0) }
    10% { -webkit-transform:translate(-5%, -10%); transform:translate(-5%, -10%) }
    20% { -webkit-transform:translate(-15%, 5%); transform:translate(-15%, 5%) }
    30% { -webkit-transform:translate(7%, -25%); transform:translate(7%, -25%) }
    40% { -webkit-transform:translate(-5%, 25%); transform:translate(-5%, 25%) }
    50% { -webkit-transform:translate(-15%, 10%); transform:translate(-15%, 10%) }
    60% { -webkit-transform:translate(15%, 0%); transform:translate(15%, 0%) }
    70% { -webkit-transform:translate(0%, 15%); transform:translate(0%, 15%) }
    80% { -webkit-transform:translate(3%, 20%); transform:translate(3%, 20%) }
    90% { -webkit-transform:translate(-10%, 10%); transform:translate(-10%, 10%) }
  }