.frame-container {
  display: flex;
  flex-direction: row;
  background-attachment: fixed;
  /* transform: scale(0.75); */
}

.container-paper {
  margin-top: 9vh;
  min-height: 90vh;
  min-width: 85vw;
  overflow-y: auto;
  overflow-x: hidden;
}