#animatedBackground {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../assets/gray-texture2.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: 0 -10000px;
    }
  }