.viewport {
    background-color: #070707;
    height: 100vh;
    width: auto;
    overflow: hidden;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    border: none;
    background-color: #070707;
    padding: 0px 20px;
    height: 25%;
    cursor: pointer;
    display: inline-block;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}


.text {
    color: rgba(240, 245, 243, 0.85); 
    font-family: 'raleway';
    font-size: 28px;
    transition: 0.4s;
    cursor: pointer;
}

.text:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 1px rgba(240, 245, 243, 0.7);
}

.label-text {
    color: rgba(240, 245, 243, 0.75); 
    font-family: 'raleway';
    font-size: 19px;
    transition: 0.4s;
    cursor: default;
}

.text:hover + .label-text {
    color: rgba(255, 255, 255, 1);
}

.pages-header {
    color: rgba(255, 255, 255, 0.9); 
    font-family: 'raleway';
    font-size: 30px;
    cursor: default;
    margin: 0 auto 5vh auto;
    word-spacing: 1vw;
}

.pages-divider {
    margin: 5px auto 0 auto;
    border-color: rgba(240, 245, 243, 0.6);
    cursor: default;
}

.nothing-header {
    color: rgb(240, 245, 243);
    font-family: 'Arimo';
    font-variant: small-caps;
}

.nothing-paragraph {
    color: rgb(240, 245, 243);
    font-family: 'raleway';
}

.list {
    color: rgba(240, 245, 243, 0.8); 
    font-size: 42px;
    font-family: 'raleway';
    transition: 0.4s;
    cursor: pointer;
}

.list:hover {
    color:#FFF;
}

.list-item-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.list-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.list-box {
    margin: 1vh auto;
}

.list-text {
    color: rgba(240, 245, 243, 0.75); 
    font-size: 20px;
    font-family: 'raleway';
    transition: 0.4s;
    cursor: pointer;
}

.list-text:hover {
    color:#FFF;
}

.list-secondary-text {
    color: rgba(240, 245, 243, 0.7); 
    font-family: "Courier New", Courier, monospace;
    font-size: 16.5px;
    cursor: default;
}

#page-item {
    margin: 0 3%;
}

.log-out {
    position: absolute;
    width: 50%;
    font-size: 15px;
    margin: 18px 0 0 0;
    left: 1.2vw;
}

.headline {
    color: #F0F5F3;
    position: relative;
    z-index: 0;
    width: 50%;
    margin: 2.5% auto -2.5% auto;
    text-align: center;
}

#load-btn {
    display: flex;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    width: 15%;
    height: 100px;
    bottom: 200px;
}

.container {
    position: relative;
    width: auto;
    max-width: 925px;
    margin: 7px auto;
    left: 50%;
    transform: translateX(-50%);
}
  
.buttonBack {
    visibility: hidden;
    position: absolute;
    top: 5%;
    left: 22%;
}

.buttonNext {
    visibility: hidden;
    position: absolute;
    top: 5%;
    right: 22%;
}