/* html {
    background-color: rgb(85, 85, 85);
    overflow: hidden;
} */

h1 {
    font-family: 'Arimo', sans-serif;
    color: rgb(230, 230, 230);
    font-weight: bold;
    /* text-shadow: 5px 0 0 rgb(49, 102, 241); */
    text-align: center;
    font-size: 80px;
}

h1 span {
    background-color: black;
    border-radius: 4px;
    padding: 5px 23px;
    z-index: 2;
    cursor: default;
}

/* p {
    font-family: 'Lora', serif;
}

h6 {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-size: 20;
} */