body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'sk_modernist_regular';
  src:  url('./assets/fonts/Sk-Modernist-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'basier_square_monoregular';
  src: url('./assets/fonts/basier/basiersquaremono-regular-webfont.eot');
  src: url('./assets/fonts/basier/basiersquaremono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/basier/basiersquaremono-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/basier/basiersquaremono-regular-webfont.woff') format('woff'),
       url('./assets/fonts/basier/basiersquaremono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'saonara';
  src: url('./assets/fonts/saonara-2.otf') format('opentype');
}

@font-face {
  font-family: 'archiv_grotesk';
  src: url('./assets/fonts/ArchivGroteskTrial-RegularTrial.otf') format('opentype');
}

@font-face {
  font-family: 'tomato_soup';
  src: url('./assets/fonts/TomatoSoup-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'brown_fox';
  src: url('./assets/fonts/BrownFox.ttf') format('truetype');
}

@font-face {
  font-family: 'maragsa';
  src: url('./assets/fonts/Maragsa-Display.otf') format('opentype');
}
